
    
    .container {
      padding: 30px 0 0;
  
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    .main-card {
      background: white;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .main-card-image {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 30px;
    }

    .main-card-content {
      padding: 15px 0 ;
    }

    .category {
      display: inline-block;
      color: #4a6fa5;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 12px;
      text-transform: capitalize;
    }

    .info-title {
      font-size: 22px;
      font-weight: 700;
      color:  var(--primary-color-dark);
      margin-bottom: 16px;
      line-height: 1.3;
    }

    .main-description {
      font-size: 15px;
      color: var(--text-dark);
      font-weight: 500;
      line-height: 1.2;
      max-width: 530px;
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    .small-card {
      background: white;
      overflow: hidden;
      display: flex;
      gap: 20px;
      transition: transform 0.3s, box-shadow 0.3s;
      cursor: pointer;
    }

    .small-card:hover {
      transform: translateY(-4px);
    }

    .small-card-image {
      width: 160px;
      height: 160px;
      border-radius: 30px;
      object-fit: cover;
      flex-shrink: 0;
    }

    .small-card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px 0;
    }

    .date {
      font-size: 16px;
      color: #8895a7;
    }

    @media (max-width: 1024px) {
      .container {
        grid-template-columns: 1fr;
      }

      .main-card {
        order: -1;
      }