.section-title{
  display: flex;
  justify-content: space-between;
  align-items: start;
}


@media (width <= 768px) {
  .section-title{
    flex-direction: column;
    gap: 10px;
  }

  
}