:root {
  --primary-color: #2887ff;
  --primary-color-dark: #202F4C;
  --text-dark: #0a0a0a;
  --text-light: #4B4B4B;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --dark-white: #A9A8B6;
  --max-width: 1200px;
}


.plus-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 30px 0;
}

.plus-card {
    background: white;
    border-radius: 24px;
    padding: 32px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid #e5e7eb;
    transition: all 0.3s ease;
}

.plus-card:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    transform: translateY(-4px);
}

.icon-box {
    width: 56px;
    height: 56px;
    background-color: #e5e7eb;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 28px;
}

.plus-card-title {
    font-size: 20px;
    font-weight: 700;
    color:  var(--primary-color-dark);
    margin-bottom: 12px;
}

.plus-card-text {
    font-size: 14px;
    color: #4b5563;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .plus-cards-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card {
        padding: 24px;
    }
}

@media (max-width: 431px) {
    .plus-cards-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        gap: 10px;
    }

    .card {
        padding: 24px;
    }

    .plus-card {
      padding: 15px;
      display: flex;
      flex-direction: column;
    }

    .icon-box{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
    }

    .plus-card-title{
      font-size: 14px;
      text-align: center;
    }

    .plus-card-text{
      display: none;
    }
}



footer {
  margin-top: 60px;
  background-color: var(--primary-color-dark);
  background-image: url('https://silkwaytrips.com/wp-content/uploads/2023/11/bg-map-2.png');
  background-position: center right;
  background-repeat: no-repeat;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col p {
  max-width: 300px;
  margin-block: 2rem;
  color: var(--dark-white);
  transition: color 0.3s ease;
}

.footer__col p:hover {
  color: var(--white);
}

.footer__logo a{
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  display: inline-block;
  padding: 7px 10px;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--white);
  border-radius: 100%;
}

.footer__socials i{
  color: var(--primary-color-dark);
  transition: all 0.3s ease;
}

.footer__socials a:hover{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}
.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark-white);
}

.footer__links a:hover {
  transform: translateY(-4px);
  color: var(--white);
}

.footer__links a span {
  font-size: 1.25rem;
}

.footer__col form {
  display: grid;
  gap: 1rem;
}

.footer__col input {
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: var(--white);
  border: 1px solid var(--text-light);
  border-radius: 5px;
}

.footer__col input::placeholder {
  color: var(--text-light);
}

.footer__col .btn {
  border-radius: 5px;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--dark-white);
  text-align: center;
}

@media (width > 540px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .journey__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .showcase__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .discover__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:last-child {
    grid-area: 2/1/3/2;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding:  1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

 .nav__logo .logo {
  margin-left: 20px;
  width: 100px;      /* адаптивная ширина */
  height: auto;     /* сохраняет пропорции */
}

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__links li:last-child {
    display: none;
  }

  .nav__btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .nav__btns button {
    background-color: var(--primary-color-dark);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: var(--white);
  }

  header {
    margin-top: 0;
  }

  .header__container {
    grid-template-columns:
      minmax(0, 1fr)
      repeat(5, minmax(0, calc(var(--max-width) / 5)))
      minmax(0, 1fr);
  }

  .header__content {
    grid-column: 2/4;
    padding-block: 8rem;
  }

  .header__content :is(p, h1) {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }

  .header__image {
    grid-column: 4/8;
    position: relative;
    isolation: isolate;
    height: 100%;
  }

  .header__image img {
    position: absolute;
    top: 2rem;
    left: 0;
    height: 100%;
    width: unset;
  }

  .destination__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .journey__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .showcase__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .showcase__content {
    grid-column: 2/4;
  }

  .banner__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .discover__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
  }

  .footer__col:last-child {
    grid-area: unset;
  }
}

@media (width > 1200px) {
  .header__content {
    padding-inline: 1rem 0;
  }

  .destination__grid {
    gap: 2rem;
  }
}



